
WordArtMessage/WordArtMessage.entitlements
WordArt/WordArt.entitlements
WordArt.xcodeproj/xcuserdata/aiannazzone.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
WordArt.xcodeproj/xcshareddata/xcschemes/WordArtMessage.xcscheme
WordArt.xcodeproj/xcshareddata/xcschemes/WordArt.xcscheme
